/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
    
}




/* menu */


.mainmenubtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding:14px 16px;
    margin-top:0 px;
}

.mainmenubtn:hover {
     background: #ddd;
    color: black;
    }
    
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}







body {
  background-color: #c4de97
}


.main-content{
  margin-top:50px
}
/* Картинки*/
img {
    border: 0;
    max-width: 100%;
    height: auto;
    width: auto;
}

#logo {
    float: left;
    width: 100%;
    text-align: center;
}

.main-text {
    text-align: left;
}

video.v {
  border:  20px double black;
}

/* Анимация */
p.anime {
  animation-duration: 120s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}




h5  {
  font-family: 'DotGothic16', sans-serif;
}



/*login*/






.input-requirements {
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  max-width: 400px;
  margin: -10px auto;
  color: rgb(150,150,150);
}


input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

.input-requirements li.valid:after {
	display: inline-block;
	padding-left: 10px;
	content: "\2713";
}

.container {
	margin: 80px auto;
	width: 90%;
	max-width: 800px;
}

.registration {
	
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 20px;
	
}
